{% extends 'base.html' %}
{% load widget_tweaks %}
{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'index' %}">Home</a></li>
  <li class="breadcrumb-item active">Question {{ question.setn }}</li>
{% endblock %}
{% block content %}
{% if question %}
    <h1>Question {{ question.setn }}</h1>
    <p class="text-justify">{{ question.question_title }}</p>
	
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button class="btn btn-secondary" type="reset" value="Refresh Page" onClick="window.location.reload()">Refresh
    </button>
	<button type="submit" class="btn btn-success">Grade Me!</button>
		
      </form>
<head>
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="aes.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" href="custom.css">
</head>








</div>
</body>




{% else %}
    <h1>Error</h1>
{% endif %}
{% endblock %}